.wrapper {
    background: var(--primary-background);
    border: none;
    padding: 0px 20px;
        min-height: 36px;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}