@import '../../core/base';
@import '../../core/reset';
@import '../../core/variable';
@import '../../core/base';
@import '../../core/mixin';
@import '../../core/font';
@import '../../core/flex';
@import '../../core/btn';
@import '../../core/distance';

:root {
  --primary-color: #00439d;
  --secondary-color: #ffc700;
  --full-background: #252836;
  --primary-background: rgba(255, 255, 255, 0.12);
  --fixed-padding: 0 26px;
  --color-hover: rgb(255, 59, 92);
  --color-secondary-text: #ffffff80;
  --background-hover: rgba(255, 255, 255, 0.1);
  --transition-color: color 0.3s ease;
  --gradient-main: linear-gradient(to bottom, #014687 0%, #2e7fb0 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: var(--primary-color);
  }
}
h1 {
  @include fz-72;
}
h2 {
  @include fz-48;
  font-weight: 700;
}
h3 {
  @include fz-32;
  font-weight: 700;
}

li {
  list-style: none;
}
.sec_gap {
  padding: 10rem 0;
}
// điều chỉnh thanh menu .
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .header_wrapper {
    .header_inner {
      padding: 2.4rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar_wrapper {
        position: relative;
        .navbar_menu {
          display: flex;
          align-items: center;
          gap: 50px;
          .navbar_dropdown {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 0;
            list-style: none;
            min-width: 200px;
            transition: all 0.5s ease;
            transform: translateY(20px);
          }
          .navbar_item {
            position: relative;
            &.dropdown_icon {
              &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid black;
              }
            }
          }

          .navbar_dropdown_item {
            padding: 10px;
            transition: all 0.5s ease;
            &:hover {
              background: var(--secondary-color);
            }
          }
          .navbar_dropdown_link {
            text-decoration: none;
            color: black;
            display: block;
          }

          .navbar_item:hover .navbar_dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
      transition: padding 0.5s ease;
      &.scrolled {
        padding: 1.8rem 0;
      }
      .header_logo {
        img {
          transition: all 0.5s ease;
        }
        &.scrolled {
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
//footer
// .footer {
//   background-size: cover; // Phủ toàn bộ phần tử
//   background-position: center; // Căn giữa ảnh
//   background-repeat: no-repeat; // Không lặp ảnh
//   background-image: url('../../assets/image/footer/footer.png');
// }
//áp dụng button
.seemore_btn,
.contact_btn {
  background: var(--secondary-color) !important;
  color: black !important;
  img {
    filter: brightness(0) saturate(100%);
  }
}
h2 + p {
  margin-top: 1.6rem;
}
p + button {
  margin-top: 1.6rem;
}
