@import '../../../core/font';
.homepage {
  .home_wrapper {
    .home_inner {
      .home_banner {
        position: relative;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        .home_banner_content {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          max-width: 90rem;
          word-wrap: break-word;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          .btn_banner {
            background-color: var(--secondary-color);
            color: black !important;
            .arrow {
              filter: brightness(0) saturate(100%);
            }
          }
          .banner_title {
            font-weight: 700;
            @include fz-72;
            line-height: 80px;
            text-transform: uppercase;
          }
          p {
            font-size: 20px;
          }
        }
        .banner_overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: radial-gradient(
              circle,
              rgba(18, 18, 18, 0) 0%,
              rgba(18, 18, 18, 1) 100%
            ),
            linear-gradient(
              to top,
              rgba(18, 18, 18, 0) 0%,
              rgba(18, 18, 18, 0.3) 100%
            );
          pointer-events: none;
        }
        .banner_gallery {
          position: absolute;
          top: 65%;
          right: 10rem;
          gap: 2rem;
          display: flex;
          .img_wrapper {
            width: 250px;
            max-height: 170px;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.05);
            }
          }
          img {
            border-radius: 12px;
          }
        }
      }
      .home_intro {
        position: relative;
        .substract_wrapper {
          position: relative;
          display: flex;
          .subtract2 {
            position: absolute;
            width: 30%;
            left: 0;
            opacity: 0;
            transform: translateY(60px);
            animation: fadeInUp 5s ease-out forwards;
          }
          .subtract {
            width: 70%;
            position: absolute;
            top: -6rem;
            right: 0;
            opacity: 0;
            transform: translateY(60px);
            animation: fadeInUp 2s ease-out forwards;
          }
        }

        &_wrapper {
          // background: var(--gradient-main);
          background-image: url('../../../assets/image/homepage/bg.png') !important;
          background-size: cover;
          background-repeat: no-repeat;

          .home_intro_inner {
            padding-top: 12rem;
          }
          .home_intro_inner {
            .intro_content {
              display: flex;
              flex-direction: row;

              justify-content: space-between;
              .right_content {
                display: flex;
                gap: 80px;
                flex-direction: column;
              }
              .intro_desc {
                max-width: 700px;
                .text-white {
                  text-align: justify;
                }
                .box_numbers {
                  display: flex;
                  justify-content: space-between;
                  .number_detail {
                    background: linear-gradient(
                      -15deg,
                      #fff686 0%,
                      #ffc700 100%
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent !important;
                    font-weight: bold;
                    @include fz-72;
                  }
                }
              }
              .intro_title {
                max-width: 500px;
                font-weight: 700;
                .highlight_text {
                  color: var(--secondary-color);
                }
              }
              .text_title {
                @include fz-48;
              }
            }
          }
          .home_intro_gallery {
            padding-top: 80px;

            .slider_large {
              img {
                border-radius: 14px;
                height: calc(150px + 24px + 200px);
              }
            }
            .slider_grid {
              display: flex;
              flex-direction: column;
              gap: 24px;
              width: 100%;
              img {
                border-radius: 14px;
              }
              .large {
                height: 150px;
              }
              .small {
                display: grid;

                grid-template-columns: 1fr 2fr; /* Chia thành 2 ảnh nhỏ */
                gap: 24px;
                min-height: 200px;
              }
            }
          }
          .reason_wrapper {
            position: relative;
            padding: 12rem 0;
            .reason_header {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
      .card_item {
        position: relative;
        width: 100%;
        max-width: 500px;
        .overlay {
          border-radius: 8px;
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            to bottom,
            #09193500 0%,
            rgba(9, 25, 53, 0.5) 100%
          );
          z-index: 1;
        } /* Điều chỉnh kích thước theo ý muốn */
        .image_wrapper {
          border-radius: 8px !important;
          position: relative;
          width: 100%;
          aspect-ratio: 1/1; /* Giữ hình vuông */
          overflow: hidden;
          .card_content {
            z-index: 2;
            position: absolute;
            top: 50%;
            padding: 2.4rem;
            /* Tạo lớp nền mờ */
          }
        }
      }
      .partner_section {
        .inner {
          .logo_partner {
            display: grid;
            grid-template-columns: repeat(5, 1fr); /* 5 cột */
            grid-template-rows: repeat(2, auto); /* 2 hàng */
            gap: 20px; /* Khoảng cách giữa các logo */
          }
          .logo_img {
            img {
              max-width: 200px;
              max-height: 200px;
            }
          }
        }
      }
      .services_section {
        position: relative;
        .service_header {
        }
        .service_body {
          padding-top: 6rem;
          .services_list {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            .service_info_wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .service_info {
                .inner {
                }
              }
            }
            .service_img {
              background-color: #fffee7;
              padding: 1rem 1rem 0 1rem;
              border-radius: 20px;
              img {
                max-height: 400px;
                border-radius: 20px;
              }
            }
          }
        }
      }
      .faq_section {
        .faq-row-wrapper {
          background: transparent !important;

          h2,
          .row-title-text,
          .row-content-text {
            color: white;
          }
          .arrow-image {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
              saturate(1%) hue-rotate(137deg) brightness(103%) contrast(101%);
          }
        }
      }
      .review_section {
        .review_box {
          .inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .logo {
              img {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
      .news_section {
        .news_body {
          padding-top: 4rem;
          .news_card {
            border-radius: 12px;
            padding: 1.5rem;
            background: #fff;
            .inner {
              .card_img {
                width: 100%;
                height: 350px;
                padding-bottom: 8px;
              }
              img {
                border-radius: 12px;
              }
            }
          }
        }
      }
    }
  }
}
// keyframe
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px); /* Bắt đầu từ vị trí thấp hơn và ẩn */
  }
  50% {
    opacity: 0.5;
    transform: translateY(
      0
    ); /* Ở giữa, hình ảnh có thể hơi lên trên và ẩn một phần */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Cuối cùng, hình ảnh hoàn toàn hiển thị */
  }
}
