@import '../../../core/font';
.homepage {
  .home_wrapper {
    .home_inner {
      .home_banner {
        position: relative;
        width: 100%;
        height: 100dvh;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        .home_banner_content {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          max-width: 90rem;
          word-wrap: break-word;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          .btn_banner {
            background-color: var(--secondary-color);
            color: black !important;
            .arrow {
              filter: brightness(0) saturate(100%);
            }
          }
          .banner_title {
            font-weight: 700;
            @include fz-72;
            line-height: 80px;
            text-transform: uppercase;
          }
          p {
            font-size: 20px;
          }
        }
        .banner_overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: radial-gradient(
              circle,
              rgba(18, 18, 18, 0) 0%,
              rgba(18, 18, 18, 1) 100%
            ),
            linear-gradient(
              to top,
              rgba(18, 18, 18, 0) 0%,
              rgba(18, 18, 18, 0.3) 100%
            );
          pointer-events: none;
        }
        .banner_gallery {
          position: absolute;
          top: 65%;
          right: 10rem;
          gap: 2rem;
          display: flex;
          .img_wrapper {
            height: 170px;
            width: 250px;
            max-height: 170px;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.05);
            }
          }
          img {
            border-radius: 12px;
          }
        }
      }
      .home_intro {
        position: relative;
        .substract_wrapper {
          position: relative;
          display: flex;
          .subtract2 {
            position: absolute;
            width: 30%;
            left: 0;
            opacity: 0;
            transform: translateY(60px);
            animation: fadeInUp 5s ease-out forwards;
          }
          .subtract {
            width: 70%;
            position: absolute;
            top: -6rem;
            right: 0;
            opacity: 0;
            transform: translateY(60px);
            animation: fadeInUp 2s ease-out forwards;
          }
        }

        &_wrapper {
          // background: var(--gradient-main);
          background-image: url('../../../assets/image/homepage/bg.png') !important;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .services_section {
        position: relative;

        .service_body {
          padding-top: 6rem;
          .services_list {
            .row_services:nth-child(even) {
              flex-direction: row-reverse;
            }
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            .service_info_wrapper {
              position: absolute;
              inset: 0;
              background: rgba(0, 0, 0, 0.5);
              color: white;
              opacity: 0;
              pointer-events: none;
              transition: all 0.5s ease;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;
            }

            .service_info_wrapper.show {
              opacity: 1;
              pointer-events: auto;
            }

            .service_info .inner {
              text-align: center;
            }

            .seemore_btn {
              margin: 0 auto;
              margin-top: 2.4rem;
            }
            .custom_slide {
              width: 20% !important;
              transition: all 1s ease;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .center_slide {
              width: 60% !important;
            }

            .hovered {
              width: 60% !important;
            }

            .center_slide.center_shrink {
              width: 20% !important;
            }

            .service_img_wrapper {
              width: 100%;
              height: 100%;
            }
            .service_img img {
              max-height: 300px;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .faq_section {
        .faq_title {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
        }
        .faq-row-wrapper {
          background: transparent !important;

          h2,
          .row-title-text,
          .row-content-text {
            color: white;
          }
          .arrow-image {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
              saturate(1%) hue-rotate(137deg) brightness(103%) contrast(101%);
          }
        }
      }
      .review_section {
        .review_box {
          .inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .logo {
              img {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }
    }
  }
}
// keyframe
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px); /* Bắt đầu từ vị trí thấp hơn và ẩn */
  }
  50% {
    opacity: 0.5;
    transform: translateY(
      0
    ); /* Ở giữa, hình ảnh có thể hơi lên trên và ẩn một phần */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Cuối cùng, hình ảnh hoàn toàn hiển thị */
  }
}
