.inner{
    display: flex;
    gap: 1rem;
   transition: all 0.3s ease;
    &:hover{
        background: var(--background-hover);

    }
}
.accountName{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.iconCerti{
    color:#20D5EC;
}
.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
 .accountName h4 {
     font-size: 1.6rem;
     font-weight: 600;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 .subAvatarName{
    font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
 }