.wrapper {
    /* Vị trí của sidebar trong grid */
    /* Màu nền cho sidebar */
    color: #fff; /* Màu chữ */
    padding-top: 20px; /* Padding chung */
    overflow-y: auto; /* Thanh cuộn khi nội dung vượt quá */
}

.sidebarInner {
    ul {
        list-style: none; /* Xóa dấu gạch đầu dòng của danh sách */
        padding: 0;
        margin: 0;

        li {
            display: flex;
            gap: 20px; /* Khoảng cách giữa các phần tử trong li */
            align-items: center;
            margin-top: 2rem; /* Khoảng cách trên mỗi li */
            padding: 8px 16px; /* Padding để tăng vùng nhấp chuột */
            color: rgba(255, 255, 255, 0.9);
            font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            margin-left: 8px; /* Khoảng cách bên trái cho li */
            cursor: pointer; /* Đổi con trỏ chuột khi hover */
            transition: all 0.3s ease; /* Hiệu ứng mượt mà khi thay đổi */

            span {
                text-decoration: none; /* Xóa gạch chân của link */
                color: inherit; /* Kế thừa màu từ li */
                transition: color 0.3s ease; /* Hiệu ứng mượt mà khi thay đổi màu */
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1); /* Màu nền khi hover */
                color: var(--color-hover); /* Đổi màu chữ khi hover */

                span {
                    color: var(--color-hover); /* Đổi màu chữ của link khi hover */
                }
            }
        }
    }
}
.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
