@import url('./assets/fonts/Inter/stylesheet.css');
@import url('./assets/fonts/Tiktok-Display/stylesheet.css');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // scroll-behavior: smooth;

  @media screen and (min-width: 2000px) {
    font-size: 70%;
  }
}

body {
  font-family: var(--font-pri);
  font-size: 16px;
  line-height: 1.55;
  font-weight: var(--fw);
  color: var(--c-txt);
  overflow: hidden auto;

  @media screen and (min-width: 2000px) {
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: var(--font-pri);
}

button {
  padding: 0;
  background-color: transparent;
  font-family: var(--font-pri);
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font-pri) !important;
}
// input:-webkit-autofill {
//   background: #fff !important;
// }

.main {
  min-height: 68vh;
  padding-top: var(--sz-hd);
}

.container {
  width: 100%;
  max-width: 123rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--pd-container);
}

.sec-container {
  width: 100%;
  max-width: 155rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--pd-container);
}

.over {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

.load-item {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}
