@import './mixin';
@import './variable';
// Mobile 768px
@include max($mobile) {
  .main {
    padding-top: 6rem !important;
    transition: padding-top 0.3s ease-in-out;
    /* Khi header thu nhỏ */
    .header.scrolled + main {
      padding-top: 4rem !important; /* Giữ khoảng cách khi header thu nhỏ */
    }
  }
  .sec_gap {
    padding: 2.5rem 0 !important;
  }
  header {
    height: 6rem !important;
    max-height: 6rem;
    &.scrolled {
      height: 4rem !important;
    }
    .header_wrapper {
      display: none;
    }
  }
  //chung
  .home_intro_inner {
    padding-top: 5rem;
    .intro_content {
      flex-direction: column;
      .intro_desc {
        .right_content {
          gap: 0;
          .box_numbers {
            display: block;
          }
        }
      }
    }
  }
  .banner_content {
    .banner_form {
      width: unset !important;
    }
  }
  //Homepage
  .homepage {
    .home_wrapper {
      .home_inner {
        .home_intro_gallery {
          padding-top: 5rem !important;
        }
        .home_banner {
          background-attachment: scroll; // Tránh lỗi trên mobile

          &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw; /* Đảm bảo full chiều ngang */
            height: 100vh; /* Đảm bảo full chiều cao */
            background-image: inherit;
            background-size: cover; /* Đảm bảo ảnh luôn cover toàn bộ */
            background-position: center center;
            background-repeat: no-repeat;
            z-index: -1;
          }
        }
        .banner_gallery {
          right: auto !important;
          top: auto !important;
          bottom: 5%;
          .img_wrapper {
            width: 7rem !important;
            max-width: 7rem;
            height: 7rem !important;
            max-height: 7rem;
          }
        }
        .home_intro {
          .substract_wrapper {
            .subtract {
              top: -1.5rem !important;
            }
          }
        }
        .reason_wrapper {
          padding: 5rem 0 !important;
          .reason_header {
            flex-direction: column;
            align-items: flex-start !important;
          }
        }
        .news_section {
          .news_header {
            display: block !important;
          }
          .news_cta {
            gap: 0 !important;
            .btn_slider {
              display: none;
            }
          }
        }
        .review_section {
          .inner {
            gap: 5rem !important;
          }
        }
      }
    }
  }
  .aboutus_page {
    .main {
      .value {
        .value_wrapper {
          .circle_decor {
            max-width: 30rem;
            .circle_large {
              width: 10rem;
              height: 10rem;
            }
            .circle_small {
              width: 8rem;
              height: 8rem;
              .inner {
                padding: 0;
              }
              &_4,
              &_3 {
                bottom: -20%;
              }
            }
          }
        }
      }
    }
    .leader_content {
      .leader_content_header {
        .title {
          width: auto;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
  .swiper-button-prev {
    left: 0 !important;
  }
  .swiper-button-next {
    right: 0 !important;
  }
  .partner_section {
    .logo_img {
      width: 100px !important;
      max-width: 100px;
      height: 100px !important;
      max-height: 100px;
    }
  }
  .form_section {
    .form_contact {
      .inner {
        padding: 2rem;
      }
      .form_list {
        gap: 2rem !important;
        .form_header {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
      }
    }
  }
  .footer {
    .footer_footer {
      .footer_nav {
        display: none !important;
      }
      .footer_social {
        margin: 0 auto;
      }
    }

    .footer_header {
      display: block;
      .footer_form {
        .input_container {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          align-items: flex-start !important;

          .contact_btn {
            position: static;
            transform: none;
          }
        }
      }
    }
    .footer_body {
      .inner {
        display: block !important;
        iframe {
          width: 400px;
        }
      }
    }
  }
  .services_section {
    .service_body {
      padding-top: 2rem;
      .services_list {
        .service_info {
          padding-bottom: 2rem;
        }
        .swiper {
          overflow: visible;
          margin-left: 0;
          margin-right: 0;
        }
        .service_img {
          width: 100% !important;
        }
        gap: 5rem;
      }
    }
  }
  .contact_page {
    .contact_info_lists {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
@include min-max($mobile, $tablet) {
  .sec_gap {
    padding: 5rem 0 !important;
  }
  .header_wrapper {
    display: none;
  }
  .banner_gallery {
    left: 0 !important;
    margin-top: 2.4rem;
    .img_wrapper {
      width: 15rem !important;
      height: 15rem !important;
    }
  }
  .home_intro {
    .substract_wrapper {
      .subtract {
        top: -2rem !important;
      }
    }
  }
  .home_intro_inner {
    .intro_content {
      display: flex !important;
      flex-direction: column;
    }
  }
  .footer_header {
    flex-direction: column;
    .footer_logo {
      width: 20%;
    }
  }
  .reason_wrapper {
    .card_item {
      .card_content {
        top: 30% !important;
      }
    }
  }
  .contact_page {
    .contact_info_lists {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
}
