.wrapper {
    max-width: 100%;
    margin-top: 8px;
    background: rgb(37, 37, 37);
    border-radius: 8px;
    box-sizing: border-box;
    max-height: min(-156px + 100vh, 734px);
    overflow: hidden auto;
    list-style-type: none;
    padding-inline-start: 0px;
}

.menuItem{
    width: 100%;
    justify-content: flex-start !important;
    background: transparent !important;
    padding: 15px !important;
    transition: background ease 0.3s;
    &:hover{
            background-color: rgba(255, 255, 255, 0.1) !important;
    }
}
.menuContent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
 
}
